@model Aluno

<form asp-controller="Aluno" asp-action="Cadastrar" method="post">

    <div class="mb-3 col-md-4">
        <label class="form-label">Nome:</label>

        @if (TempData["ErroNomeInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroNomeInvalida"]</p>
        }

        <input type="text" asp-for="Name" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Matricula:</label>

        @if (TempData["ErroMatriculaInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroMatriculaInvalida"]</p>
        }

        <input type="text" asp-for="Matricula" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Data:</label>

        @if (TempData["ErroDataInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroDataInvalida"]</p>
        }

        <input type="date" asp-for="DataNascimento" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Cpf:</label>

        @if (TempData["ErroCpfInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroCpfInvalida"]</p>
        }

        <input type="text" asp-for="Cpf" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Cep:</label>

        @if (TempData["ErroCepInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroCepInvalida"]</p>
        }

        <input type="text" asp-for="Cep" id="Cep" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Endereço:</label>

        @if (TempData["ErroEnderecoInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroEnderecoInvalida"]</p>
        }

        <input type="text" asp-for="Endereco" id="Endereco" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Bairro:</label>

        @if (TempData["ErroBairroInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroBairroInvalida"]</p>
        }

        <input type="text" asp-for="Bairro" id="Bairro" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Cidade:</label>

        @if (TempData["ErroCidadeInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroCidadeInvalida"]</p>
        }

        <input type="text" asp-for="Cidade" id="Cidade" class="form-control" required>
    </div>

    <div class="mb-3 col-md-4">
        <label class="form-label">Numero:</label>

        @if (TempData["ErroNumeroInvalida"] != null)
        {
            <p style="color: red;">@TempData["ErroNumeroInvalida"]</p>
        }

        <input type="text" asp-for="Numero" class="form-control" required>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="Index"> Voltar</a>
    </div>
</form>

<script>
    document.getElementById("Cep").addEventListener("blur", function () {
        let cep = this.value.replace(/\D/g, '');

        if (cep.length === 8) {
            fetch(`https://viacep.com.br/ws/${cep}/json/`)
                .then(response => response.json())
                .then(data => {
                    if (!data.erro) {
                        document.getElementById("Endereco").value = data.logradouro || "";
                        document.getElementById("Bairro").value = data.bairro || "";
                        document.getElementById("Cidade").value = data.localidade || "";
                    } else {
                        alert("CEP não encontrado!");
                    }
                })
                .catch(err => console.error("Erro na consulta:", err));
        }
    });
</script>