@model IEnumerable<Turma>

<div>
    <form method="get" asp-controller="Aluno" asp-action="Index">
        <input type="text" name="searchTerm" placeholder="Buscar aluno..." class="form-control" style="width:300px; display:inline-block;" />
        <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
            <th scope="col">Bairro</th>
            <th scope="col">Cidade</th>
            <th scope="col">Número</th>
            <th scope="col" class="text-end">Ações</th>
        </tr>
    </thead>
    <tbody>

        @if (!Model.Any())
        {
            <tr>
                <td colspan="10" class="text-center">Nenhum aluno registrado até o momento</td>
            </tr>
        }
        else
        {

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Matricula</td>
                    <td>@item.Nome </td>
                    <td>@item.Cpf</td>
                    <td>@item.DataNascimento</td>
                    <td>@item.Cep</td>
                    <td>@item.Endereco</td>
                    <td>@item.Bairro</td>
                    <td>@item.Cidade</td>
                    <td>@item.Numero</td>
                    <td class="text-end">
                        <div class="btn-group" role="group">
                            <a type="submit" class="btn btn-sm btn-primary" role="button" asp-controller="Aluno" asp-route-id="@item.Id" asp-action="EditarAluno">Editar</a>
                            <a type="submit" class="btn btn-sm btn-danger" role="button" asp-controller="Aluno" asp-route-id="@item.Id" asp-action="Excluir">Excluir</a>
                        </div>
                    </td>
                </tr>
            }

        }

    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-primary" type="button" asp-controller="Aluno" asp-action="AdicionarAluno"> Adicionar Aluno</a>
    <a class="btn btn-primary" type="button" asp-controller="Home" asp-action="Index"> Voltar</a>
</div>
